body{
  background-color: #EAE0CC;
}

#embed-aframe {
  width:500px;
  height: 500px;
}

#logo {
  width: 133px;
  height: 75px;
  margin-bottom: -30px;
  margin-top: -30px;
}

.containerStyle {
}

.spacer {
  border: solid 2px transparent;
  border-radius: 2px;
}

#videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.textHolder {

}

.logoHolder {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.videoText {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
  background-color: rgba(0,0,0,0.3);
}
.postUsername {
  font-family: "Above";
  font-weight: bold;
  font-size: 15px;
}
.postPicture {
  margin-top: 10px;
}
.test {
  border: solid 5px red;
}
.nav {
  height: 20px;
  margin-top: 130px;
  color: white;
}
#navbrand {
  color: #FF8400;
}
.navText {
  color: #E7E1D5;
  font-family: "Lobster";
}

@font-face {
    font-family: Lobster;
    src: url("/Lobster.otf") format("opentype");
}
@font-face {
    font-family: Above;
    src: url("/Above.ttf");
}
@font-face {
    font-family: Fizz;
    src: url("/Fizz.otf") format("opentype");
}

.plantDex {
  margin-top: -10px;
  margin-left: 20px;
}
.plantShelf {
  margin-left: 10px;
}
.reply {
  border: solid 1px #89C83B;

  margin-top: 10px;
}
.lineChart {
  margin-left: -100px;
}
.profileLeft {
  margin-top: 20px;
  background-color: #694118;
}
#picDiv {
  margin-top: -60px;
  margin-bottom: -50px;
}

.about {
  color: white;
}
.profileDividerLine {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #EAE0CC;
    margin: 1em 0;
    padding: 0;
}
#username {
  text-align: center;
  font-size: 25px;
  color: #EAE0CC;
  margin-bottom: 20px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#innerProfilePic {

}
.userRecent {
  background-color: white;
  border: solid 1px #694118;
  color: #8DC83B;
  margin-top: 20px;
  height: 225px;
}
.userRecentSpan {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.userRecentUL {
  list-style: none;
}

.tape {
  background-image: url("/tapeRight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 100px;
  margin-top: -15px;
  margin-left: 80px;
}

.flip3D > .front{
  position: absolute;
  transform: perspective( 600px ) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D > .back {
  position: absolute;
  transform: perspective( 600px ) rotateY( 180deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D:hover > .front {
  transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back {
  transform: perspective( 600px ) rotateY( 0deg );
}
#packetFront {
  margin-top: 15px;
  width: 212px;
  height: 301px;
  background-image: url("/seedPacketIMGs/tomatoResized.png");
  background-repeat: no-repeat;
  background-size: 212px 301px ;
}
#packetBack {
  margin-top: 15px;
  width: 212px;
  height: 301px;
  background-image: url("/seedPacketIMGs/seedBackResized.png");
  background-repeat: no-repeat;
  background-size: 212px 301px ;
}
#packetText {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

}
#costEstimate {
  align-content: center;
}

#seedHolder {
  height: 350px;
}

.editDelete {
  margin-bottom: -44px;
  margin-left: 10px;
  position: relative;
  z-index: 1000;
}
.replyEditDelete{
  margin-left: -20px;
  margin-top: 10px;
}
.forumTitle {
  font-family: "Above";
  font-weight: bold;
  font-size: 30px;
}
.post {
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
}

.replyText {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.forumTitleText {
  border-left: solid 2px #EAE0CC;
  border-right: solid 2px #EAE0CC;
  padding-left: 20px;
}
.replyCount {
  font-family: "Above";
  font-weight: bold;
  background: transparent;
}
.replyBox {
  margin-top: 20px;
  margin-left: 30px;

}
#addReply {
  margin-top: 30px;
}
@import url('https://fonts.googleapis.com/css?family=Arsenal');

{
    box-sizing: border-box;
}



/*////////////////////////////////////////////////////////////*/

