body{
  background-color: #cffcfc;
  /*updated from: #EAE0CC & #EAE8E3*/
}

#embed-aframe {
  width:500px;
  height: 500px;
  margin-bottom: 20px;
}

#logo {
  width: 133px;
  height: 75px;
  margin-bottom: -30px;
  margin-top: -30px;
}

.containerStyle {
}

.spacer {
  border: solid 2px transparent;
  border-radius: 2px;
}

#videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.textHolder {

}

.logoHolder {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.videoText {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  background-color: rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 10px;
}

h1, h2, h3, h4 {
  font-family: "Quicksand";
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
input, textarea {
  font-family: "Quicksand";
  font-weight: bold;
  border-radius: 10px;
}

button {
  font-family: "Quicksand";
  font-weight: bold;
  border: none;
  font-variant: small-caps;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

.reply {
  border: solid 1px #89C83B;
  margin-top: 10px;
}
.replyMessage,
.forumMessage {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: calc(14px + 0.3vw);
  margin-left: 5%;
}

.searchForum,
.searchForumInput {
  font-family: "Quicksand";
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.postUsername {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: calc(15px + 0.25vw);
  font-variant: small-caps;
}

.replyUsername {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: calc(15px + 0.4vw);
  margin-left: 3%;
  margin-top: 0.5%;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.aboutGarden {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
.communityGardenUserName {
  font-weight: bold;
  font-size: 15px;
}
.postPicture {
  margin-top: 10px;
}
.test {
  border: solid 5px red;
}



.navbar {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;
}

/*
||||||||||||||||||||||| NAVBAR |||||||||||||||||||||||
 */

.nav {
  height: 20px;
  margin-top: 130px;
  color: white;
}

.navbarDivider{
  border-right: solid 1px #8AC73D;
}

#navbrand {
  color: #FF8400;
}

.navText {
  color: #E7E1D5;
  font-family: "Lobster";
}

.menu-button {
  color: rgba(0,0,0,.5);
  font-size: 18px;
  font-weight: 800;
 }

.navbar {
  margin-bottom: 20px;
  font-weight: 800
}

.btn-secondary {
  background: none !important;
  border: none !important;
}

.btn {
  -webkit-appearance: none !important;
  border: none !important;
}

.navbar-toggler-icon {
  margin-top: -1px !important;
  padding-left: 35px;
}

.dropdown-menu {
  left: -40% !important;
  border: none !important;
}

.nav-link {
  color: rgba(0,0,0,.5) !important;
  font-weight: 800 !important;
}

@font-face {
    font-family: Lobster;
    src: url("/Lobster.otf") format("opentype");
}
@font-face {
    font-family: Quicksand;
}
@font-face {
    font-family: Fizz;
    src: url("/Fizz.otf") format("opentype");
}
.hrTwoD {
  border-style: solid;
  border-width: 1px;
  border-color: #92C84E;
  border-radius: 15px;
  margin-bottom: 3px;
  margin-top: 2px;
}
.plantDex {
  margin-top: -10px;
  margin-left: 20px;
}
.AnalyticsTabs {
  margin-top: -240px;
}

.lineChart {
  margin-left: -75px;
}

.about-profile-name {
  font-variant: small-caps;
}

.profileLeft {
  margin-top: 1%;
  background-color: white;
}

#picDiv {
  margin-top: -50px;
  margin-bottom: -50px;
}

.edit-about-button {
  background: white;
  margin-bottom: 10%;
}

.about {
  color: white;
}
.profileDividerLine {
/*  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EAE0CC;
  margin: 1em 0;
  padding: 0;*/
  border-style: solid;
  border-width: 1px;
  border-color: #FF8400;
  border-radius: 15px;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
}

.textArea {
  width: 95%;
}
#username {
  text-align: center;
  font-size: 25px;
  color: #EAE0CC;
  margin-bottom: 20px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#innerProfilePic {

}
.userRecent {
  background-color: white;
  /*border-style: solid;*/
  /*border-width: 2px;*/
  border: none;
  /*border-color: grey;*/
  /*border-radius: 20px;*/
  margin-top: 1.5%;
  padding-top: 5%;
  min-height: 225px;
}

.userAboutMe {
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
#aboutMe {
  color: black;
  font-variant: small-caps;
  padding: 10%;
}
.userRecentSpan {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5%;
  /*color: #647075;*/
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  /*border-radius: 10px;*/
}

.gardenName{
  font-variant: small-caps;
  padding-left: calc(-60px + 17vw);
}

.garden-name-active {
  font-variant: small-caps;
}

.userGarden {
  background-color: white;
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: grey;*/
  /*border-radius: 20px;*/
  color: black;
  margin-top: 5%;
  padding-top: 5%;
  min-height: 100px;
}
.userGardenSpan {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.userRecentUL {
  list-style: none;
}

.tape {
  background-image: url("/tapeRight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 100px;
  margin-top: -15px;
  margin-left: 80px;
}

.flip3D > .front{
  position: absolute;
  transform: perspective( 600px ) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D > .back {
  position: absolute;
  transform: perspective( 600px ) rotateY( 180deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D:hover > .front {
  transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back {
  transform: perspective( 600px ) rotateY( 0deg );
}

#packetFront {
  margin-top: 15px;
  width: 212px;
  height: 301px;
  background-image: url("/seedPacketIMGs/tomatoResized.png");
  background-repeat: no-repeat;
  background-size: 212px 301px ;
}
#packetBack {
  margin-top: 15px;
  width: 212px;
  height: 301px;
  background-image: url("/seedPacketIMGs/seedBackResized.png");
  background-repeat: no-repeat;
  background-size: 212px 301px ;
}
#packetText {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

}
#costEstimate {
  align-content: center;
}

#seedHolder {
  height: 350px;

}

.searchGardenBar {
  text-align: center;
}
#currentPublicGarden {
  text-align: center;
  width: 100%;
  margin-top: 75px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 20px;
}

.editDelete {
  margin-bottom: -44px;
  margin-left: 10px;
  position: relative;
  z-index: 1000;
}
.replyEditDelete{
  margin-left: -20px;
  margin-top: 10px;
}
.forumTitle {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: calc(17px + 0.4vw);
}
.post {
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
}

.replyText {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.forumTitleText {
  border-left: solid 2px #EAE0CC;
  border-right: solid 2px #EAE0CC;
  padding-left: 20px;
}
.replyCount {
  font-family: "Quicksand";
  font-weight: bold;
  background: transparent;
  font-size: calc(10px + 0.5vw);
}
.replyBox {
  margin-top: 20px;
  margin-left: 30px;

}
#addReply {
  margin-top: 30px;
  margin-left: -25px;
}
@import url('https://fonts.googleapis.com/css?family=Arsenal');

{
    box-sizing: border-box;
}


body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.login {
  margin-top: -325px;
}

.loginLead {
  margin-top: -420px;
  margin-left: 1700px;
  position: absolute;
  font-weight: bold;
}

.login-btn {
  width: 185px;
  height: 75px;
  font-size: 20px
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 300px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin-left: 20px;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  border-radius: 10px;
}

.react-autosuggest__suggestions-list {
  margin-left: -50px;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.dancounsell {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
}

.ladylexy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg);
}

.mtnmissy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/mtnmissy/48.jpg);
}

.steveodom {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/steveodom/48.jpg);
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}



.our-team {
  padding: 0;
  text-align: right;
}

.name {
  float: right;
  padding-right: 1%;
}

.profiles {
  clear: both;
  border: none;
  margin: 1%;
  padding: 5px;
  min-height: 100px;
  background-color: white;
}

.profiles:hover {
  background-color: #bec1c4;
  text-decoration: none;
}

.profiles img {
  float: left;
  margin: 0 5px;
  height: 90px;
  border-radius: 50%;
}

.profiles .description {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}
.aboutButton {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.toolBar {
  background-color: white;
  border: solid 2px grey;
  border-radius: 5px;
}

#postHere {
  margin: 10px;
  margin-bottom: 20px;
}

.profiles .name {
  font-variant: small-caps;
  font-size: calc(16px + 0.345vw);
  font-weight: 600;
  font-family: 'Quicksand';
  letter-spacing: 1px;
  color: black;
}

.topAbout {
  margin-top: 10px;
}

.profile-description, .profile-description:hover {
  color: black;
  text-decoration: none;
  padding: 3%;
  font-family: 'Quicksand';
}

.about-me-description {

}

/*////////////////////////////////////////////////////////////*/
