body{
  background-color: #3f7760;
  /*background-image: url("http://www.lanlinglaurel.com/data/out/24/4091261-dark-green-wallpaper.png");*/
}
h1, h2, h3, h4 {
  color: white;
}
/*.navBar {
  color: white;
  }

.navBarLi {
      float: left;
  }

.navBarLi a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

.navBarLi a:hover:not(.active) {
      background-color: #138973;
  }

  .active {
      background-color: #16A086;
  }

*/
#logo {

}

.containerStyle {
}
#coverPhoto {
  height: 315px;
  margin-bottom: 1px;
  background-image: url("http://www.woodlandwalk.co.uk/images/Garden-Tools-cover.jpg");
  background-size: cover;
}
#profilePic {
  height: 250px;
  margin-top: -200px;
}
#innerProfile {
}
#username {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#innerProfilePic {
  margin: auto;
  border: solid 5px #cccdce;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  background-image: url("http://www.clipartbest.com/cliparts/4Tb/6oR/4Tb6oR9ac.gif");
  background-size: cover;
}
.userRecent {
  background-color: white;
  border: solid 5px transparent;
  border-radius: 10px;
  color: black;
}
.userRecentSpan {
  text-align: center;
  font-size: 20px;
/*  font-weight: bold;*/
  margin-bottom: 10px;
}

.userRecentUL {
  list-style: none;
}