body{
  background-color: #cffcfc;
  /*updated from: #EAE0CC & #EAE8E3*/
}

#embed-aframe {
  width:500px;
  height: 500px;
  margin-bottom: 20px;
}

#logo {
  width: 133px;
  height: 75px;
  margin-bottom: -30px;
  margin-top: -30px;
}

.spacer {
  border: solid 2px transparent;
  border-radius: 2px;
}

#videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.logo-holder {
  background-color: white;
  margin-top: 9%;
  margin-bottom: 3%;
  opacity: 0.7;
  text-align: center;
  /*border-radius: 25px;*/
}

.video-text {
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  /*font-family: 'Reem Kufi', sans-serif;*/
  font-family: 'Zilla Slab', serif;
  background-color: rgba(0,0,0,0.4);
  /*border-radius: 15px;*/
  padding: 2% 5%;
}

h1, h2, h3, h4 {
  font-family: "Quicksand";
  /*font-weight: bold;*/
  font-variant: small-caps;
  padding: 1%;
  text-align: center;
}
input, textarea {
  font-family: "Quicksand";
  font-weight: bold;
  font-variant: small-caps;
  border: none;
}

button {
  font-family: "Quicksand";
  font-weight: bold;
  border: none;
  font-variant: small-caps;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

.aboutGarden {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.communityGardenUserName {
  font-weight: bold;
  font-size: 15px;
}


.test {
  border: solid 5px red;
}



.navbar {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 2px;
  /*border-radius: 5px;*/
}

/*
||||||||||||||||||||||| NAVBAR |||||||||||||||||||||||
 */

.post-picture {
  margin-top: 10px;
}

.nav {
  height: 20px;
  margin-top: 130px;
  color: white;
}

.navbarDivider{
  border-right: solid 1px #8AC73D;
}

#navbrand {
  color: #FF8400;
}

.navText {
  color: #E7E1D5;
  font-family: "Lobster";
}

.menu-button {
  color: rgba(0,0,0,.5);
  font-size: 18px;
  font-weight: 800;
 }

.navbar {
  margin-bottom: 20px;
  font-weight: 800
}

.btn-secondary {
  background: none !important;
  border: none !important;
}

.btn {
  -webkit-appearance: none !important;
  border: none !important;
}

.navbar-toggler-icon {
  margin-top: -1px !important;
  padding-left: 35px;
}

.dropdown-menu {
  left: -40% !important;
  border: none !important;
}

.nav-link {
  color: rgba(0,0,0,.5) !important;
  font-weight: 800 !important;
}

@font-face {
    font-family: Lobster;
    src: url("/Lobster.otf") format("opentype");
}
@font-face {
    font-family: Quicksand;
}
@font-face {
    font-family: Fizz;
    src: url("/Fizz.otf") format("opentype");
}
.hrTwoD {
  border-style: solid;
  border-width: 1px;
  border-color: #92C84E;
  border-radius: 15px;
  margin-bottom: 3px;
  margin-top: 2px;
}
.plantDex {
  margin-top: -10px;
  margin-left: 20px;
}
.AnalyticsTabs {
  margin-top: -240px;
}

.lineChart {
  margin-left: -75px;
}

.about-profile-name {
  font-variant: small-caps;
}




hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  background-color: rgba(201, 140, 255, 0.4)
}

.textArea {
  width: 95%;
}
#username {
  text-align: center;
  font-size: 25px;
  color: #EAE0CC;
  margin-bottom: 20px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#innerProfilePic {

}
/*
*********************************
*************PROFILE*************
*********************************
 */

#picDiv {
  margin: -10% 25%;
}

.edit-about-button {
  background: #c98cff;
  color: white;
}

.edit-about-button:hover {
  background: white;
  color: #c98cff;
}

.profile-divider-line {
/*  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EAE0CC;
  margin: 1em 0;
  padding: 0;*/
  border-style: solid;
  border-width: 1px;
  border-color: #FF8400;
  border-radius: 15px;
}

.about {
  padding: 5%;
  color: #a162db;
}

.user-recent {
  /*background-color: white;*/
  /*border-style: solid;*/
  /*border-width: 2px;*/
  border: none;
  /*border-color: grey;*/
  /*border-radius: 20px;*/
  margin-top: 1.5%;
  padding-top: 5%;
  min-height: 225px;
}

.user-about-me {
  background-image: url('./textures/concrete.jpg');
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.about-me-title, .profile-posts {
  font-family: 'Oleo Script', sans-serif;
  color: #a162db;
  font-variant: small-caps;
  display: inline-block;
}

.about-me-title {
  border-bottom: 3px #a162db double;
  padding-top: 7%;
  padding-bottom: 3%;
}

.about-me {
  padding: 5%;
  /*font-family: 'Zilla Slab', serif;*/
  font-variant: small-caps;
}

.user-recent-span {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5%;
  /*color: #647075;*/
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  /*border-radius: 10px;*/
}

.gardenName{
  font-variant: small-caps;
  padding-left: calc(-60px + 17vw);
}

.garden-name-active {
  font-variant: small-caps;
}

.profile-left {
  margin-top: 1%;
  background-color: white;
}

.userGarden {
  background-color: white;
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: grey;*/
  /*border-radius: 20px;*/
  color: black;
  margin-top: 5%;
  padding-top: 5%;
  min-height: 100px;
}
.userGardenSpan {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.userRecentUL {
  list-style: none;
}

.tape {
  background-image: url("/tapeRight.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 100px;
  margin-top: -15px;
  margin-left: 80px;
}

.flip3D > .front{
  position: absolute;
  transform: perspective( 600px ) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D > .back {
  position: absolute;
  transform: perspective( 600px ) rotateY( 180deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}
.flip3D:hover > .front {
  transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back {
  transform: perspective( 600px ) rotateY( 0deg );
}

#packetFront {
  margin-top: 15px;
  width: 212px;
  height: 301px;
  background-image: url("/seedPacketIMGs/tomatoResized.png");
  background-repeat: no-repeat;
  background-size: 212px 301px ;
}
#packetBack {
  margin-top: 15px;
  width: 212px;
  height: 301px;
  background-image: url("/seedPacketIMGs/seedBackResized.png");
  background-repeat: no-repeat;
  background-size: 212px 301px ;
}
#packetText {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

}
#costEstimate {
  align-content: center;
}

#seedHolder {
  height: 350px;

}

.searchGardenBar {
  text-align: center;
}
#currentPublicGarden {
  text-align: center;
  width: 100%;
  margin-top: 75px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 20px;
}


/*
*********************************
*************FORUM*************
*********************************
 */

.edit-delete {
  margin-bottom: -4%;
  margin-left: 1%;
  position: relative;
  z-index: 2;
}

.reply {
  border: solid 1px #89C83B;
  margin-top: 10px;
}

.post-username {
  font-family: 'Zilla Slab', serif;
  font-size: calc(12px + 0.25vw);
  text-align: center;
}

.post-pic-username {
  padding: 0;
}

.reply-username {
  font-family: 'Zilla Slab', serif;
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: 'Oleo Script', sans-serif;*/
  /*font-family: 'Muli', sans-serif;*/
  /*font-family: 'Reem Kufi', sans-serif;*/
  /*font-family: 'Bree Serif', sans-serif;*/
  /*font-family: "Quicksand";*/
  /*font-weight: bold;*/
  font-size: calc(15px + 0.4vw);
  margin-left: 3%;
  margin-top: 0.5%;
  text-align: center;
  /*font-variant: small-caps;*/
  letter-spacing: 1px;
}

.reply-edit-delete {
  margin-left: -20px;
  margin-top: 10px;
}

.forum-title {
  font-family: "Quicksand";
  font-size: calc(17px + 0.4vw);
  font-variant: small-caps;
  letter-spacing: 0.5px;
}

.forum-title-text {
  border-left: solid 2px #c98cff;
  border-right: solid 2px #c98cff;
  padding-left: 20px;
}

.welcome-forum-background {
  background-image: url('./textures/concrete.jpg');
  margin-top: 0.5%;
  padding: 4%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
}

.search-forum,
.search-forum-input {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0 10%;
  padding-bottom: 0.5%;
  font-size: calc(19px + 0.3vw);
}

.post, .category, .forum-post, .categories-list {
  background-color: white;
  margin-top: 1%;
}

.reply-message,
.forum-message {
  font-family: "Quicksand";
  /*font-weight: bold;*/
  font-size: calc(14px + 0.3vw);
  margin-left: 5%;
  margin-right: 1%;
}


.forum-post-button {
  background-color: #c98cff;
  color: white;
}

.forum-post-button:hover {
  background-color: #dddddd;
  color: #c98cff;
}


.categories-list {
  border-right: 50px solid rgba(0, 0, 0, .3);
  border-image: url('./textures/concrete.jpg') 3% round;
  max-height: 350px;
  background: none;
  margin-bottom: 5%;
}

.category, .category-header, .forum-header {
  font-family: 'Oleo Script', sans-serif;
  text-align: right;
  margin: 1%;
  font-variant: small-caps;
}

.forum-header {
  text-align: center;
  border-bottom: 3px #a162db double;
  color: #a162db;
  display: inline-block;
}

.channel-name {
  font-family: 'Oleo Script', sans-serif;
  text-align: left;
  padding-top: 2%;
}

.double-divide {
  padding: 0;
  margin-left: -50%;
  margin-right: 25%
}

.category:hover {
  margin: 1%
  box-shadow: 0px 0px 10px #000000;
  z-index: 2;
  -webkit-transition: all 250ms ease-in;
  -webkit-transform: scale(1.05);
  -ms-transition: all 250ms ease-in;
  -ms-transform: scale(1.05);
  -moz-transition: all 250ms ease-in;
  -moz-transform: scale(1.05);
  transition: all 250ms ease-in;
  transform: scale(1.05);
  color: #c98cff;
}

.replyText {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.reply-count {
  font-family: "Quicksand";
  padding: 1%;
  background: transparent;
  font-size: calc(10px + 0.5vw);
}

.reply-box {
  margin-top: 20px;
  margin-left: 30px;
}

#add-reply {
  margin-top: 30px;
  margin-left: -25px;
}
@import url('https://fonts.googleapis.com/css?family=Arsenal');


/*MODAL STYLING*/
.alert-danger {
  text-align: center;
  font-size: calc(10px + 0.5vw);
  font-weight: 800;
  font-family: 'Quicksand';
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.login {
  margin-top: -325px;
}

.loginLead {
  margin-top: -420px;
  margin-left: 1700px;
  position: absolute;
  font-weight: bold;
}

.login-btn {
  width: 185px;
  height: 75px;
  font-size: 20px
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 300px;
  border: 1px solid #aaa;
  background-color: #fff;
  margin-left: 20px;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  border-radius: 10px;
}

.react-autosuggest__suggestions-list {
  margin-left: -50px;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.dancounsell {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
}

.ladylexy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg);
}

.mtnmissy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/mtnmissy/48.jpg);
}

.steveodom {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/steveodom/48.jpg);
}

.name {
  margin-left: 68px;
  line-height: 45px;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}



.our-team {
  padding: 0;
  text-align: right;
}

.name {
  float: right;
  padding-right: 1%;
}

.profiles {
  clear: both;
  border: none;
  margin: 1%;
  padding: 5px;
  min-height: 100px;
  background-color: white;
}

.profiles:hover {
  background-color: #bec1c4;
  text-decoration: none;
}

.profiles img {
  float: left;
  margin: 0 5px;
  height: 90px;
  border-radius: 50%;
}

.profiles .description {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}
.aboutButton {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.toolBar {
  background-color: white;
  border: solid 2px grey;
  border-radius: 5px;
}

#postHere {
  margin: 10px;
  margin-bottom: 20px;
}

.profiles .name {
  font-variant: small-caps;
  font-size: calc(16px + 0.345vw);
  font-weight: 600;
  font-family: 'Quicksand';
  letter-spacing: 1px;
  color: black;
}

.topAbout {
  margin-top: 10px;
}

.profile-description, .profile-description:hover {
  color: black;
  text-decoration: none;
  padding: 3%;
  font-family: 'Quicksand';
}

.about-me-description {

}

/*////////////////////////////////////////////////////////////*/
